DATABASE_URL=postgresql://postgres:postgres@localhost:5432/rudy_drive

SECRET_KEY=clave_secreta_temporal
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=rudy_drive
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

MINIO_ENDPOINT=10.0.0.2:9000
MINIO_ENDPOINTS=10.0.0.2:9000,10.0.0.3:9000,10.0.0.4:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_SECURE=false
MINIO_BUCKET=rudy-drive

UPLOAD_CHUNK_SIZE_BYTES=5242880
BACKEND_URL=http://backend:8000
