MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=rudy-drive
NODE_HOSTNAME=node
MINIO_CLUSTER_ENDPOINTS=http://10.0.0.2/data http://10.0.0.2/data2 http://10.0.0.3/data http://10.0.0.3/data2 http://10.0.0.4/data http://10.0.0.4/data2